@font-face {
  font-family: 'gothamBook';
  src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham-book-webfont.woff') format('woff'),
  url('../fonts/gotham-book-webfont.ttf')  format('truetype'),
  url('../fonts/gotham-book-webfont.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wicked-modal-content {
  zoom: 0.78;
  background-color: #fafafa;
  background-image: url('../img/bokeh_bh.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #111111;
}
.wicked-modal-content .modal-body {
  padding-top: 68px;
  padding-bottom: 45px;
}
.modal-pre-heading {
  font: 24px/30px 'gothamBook', sans-serif;
  text-transform: uppercase;
}
.modal-wicked-heading {
  text-transform: uppercase;
  font: 900 34px/40px 'Lato', sans-serif;
  margin: 5px 0 10px;
}
.modal-post-heading {
  font: normal 30px/30px 'gothamBook', sans-serif;
  display: inline-block;
  margin: 0 0 15px 0;
}
.wicked-media-heading {
  font: 700 34px/35px 'Lato', sans-serif;
  color: #997f3c;
}
.wicked-modal-content .media {
  max-width: 420px;
  margin: 0 auto 15px;
}
.wicked-modal-content .media img{
  max-width: 95px;
}
.prices-box {
  font: 400 32px/32px 'Lato', sans-serif;
  margin-bottom: 32px;
}
.prices-box span {
  margin: 0 8px;
  display: inline-block;
}
.brown-clr {
  color: #a58632;
}
.wicked-modal-content img.img-responsive {
  max-height: 250px;
  margin: 0 auto;
}
.cross-line {
  position: relative;
}
.cross-line:after {
  content:"";
  bottom: 50%;
  left: 0;
  position:absolute;
  border-top: 4px solid #ff8a01;
  width:100%;
  -moz-transform: rotate(-17deg);
  -webkit-transform: rotate(-17deg);
  transform: rotate(-17deg);
}
.price-free-shipping {
  font: 400 24px/28px 'Lato', sans-serif;
  text-transform: uppercase;
}
.orange-button {
  text-transform: uppercase;
  border: 0;
  margin-top: 20px;
  text-shadow: -1px -1px 1px #7f5815;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(RGBA(255,192,59,1.00), RGBA(255,151,25,1.00), RGBA(255,125,2,1.00));
  background-image: -o-linear-gradient(RGBA(255,192,59,1.00), RGBA(255,151,25,1.00), RGBA(255,125,2,1.00));
  background-image: linear-gradient(RGBA(255,192,59,1.00), RGBA(255,151,25,1.00), RGBA(255,125,2,1.00));
  /*border: 0 none rgb(177,106,2);
  border-bottom: 4px solid rgb(177,106,2);*/
  -webkit-border-radius: 7px 7px 9px 9px;
  border-radius: 7px 7px 9px 9px;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
  box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size:42px;
  line-height: 42px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  padding: 13px 75px;
  text-decoration:none;
  display:inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  font-weight:bold; color: #FFFFFF;
  background-color: #fbcf2e;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbcf2e, endColorstr=#f3580d);
}
.orange-button:hover{
  border: 0;
  background-color: #fbcf2e;
  background-image: -webkit-linear-gradient(RGBA(255,192,59,1.00), RGBA(255,151,25,1.00), RGBA(255,125,2,1.00));
  background-image: -o-linear-gradient(RGBA(255,192,59,1.00), RGBA(255,151,25,1.00), RGBA(255,125,2,1.00));
  background-image: linear-gradient(RGBA(255,192,59,1.00), RGBA(255,151,25,1.00), RGBA(255,125,2,1.00));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fad82d, endColorstr=#f2640c);
}
.orange-button:active,
.orange-button:focus {
  outline: 0;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 35px;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  border: 0;
  background: none;
  padding: 0;
}
.modal { -webkit-overflow-scrolling: auto; }
/* Countdown */
/*.timeTo {
  height: auto;
}
#countdown span {
  font-size: 26px;
}*/
.timer .c-timer {
  width: 103px;
  height: 92px;
  font: normal 50px/92px 'Times New Roman', serif;
  display: inline-block;
  background: #fff;
  color: #242424;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 2px 4px 2px rgba(50,50,50,.2);
  -webkit-box-shadow: 0 2px 4px 2px rgba(50,50,50,.2);
  box-shadow: 0 2px 4px 2px rgba(50,50,50,.2);
  margin: 0 20px;
  position: relative;
}
.timer .c-timer:before {
  content: ":";
  position: absolute;
  top: -4px;
  left: -27px;
  color: #b7b7b7;
}
.timer .c-timer:first-child:before {
  display: none;
}

.reserved .timer {
    padding: 23px 0;
}
/* Select box */
.select-inner .ring-size-submit:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 88%;
    height: 28px;
    background: rgba(255,255,255,0.2);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.bootstrap-select>.dropdown-toggle,
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    background: #fff;
    color: #D0A84A
    text-transform: uppercase;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 4px solid #D0A84A;
    padding: 20px 25px 20px 40px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.bootstrap-select>.dropdown-toggle:active,
.bootstrap-select>.dropdown-toggle:focus {
  outline: 0 !important;
}
.wicked-select .filter-option {
    font: bold 15px/20px 'Lato', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  background: url(../img/select-arrow-2.png) no-repeat;
  width: 20px;
  height: 12px;
  border: 0;
  right: 33px;
  top: 27px;
}
.select-inner-text p {
  display: inline-block;
  margin: 0 10px 10px;
}
.select-inner .price {
  margin: 20px auto 20px;
}
.select-inner {
  padding: 40px 35px 35px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 300px;
}
.select-inner {
    background: url('../img/bg-select-2.jpg') repeat;
  }
@media only screen and (max-width: 991px){
  /* Select */
  .select-inner {
    background: url('../img/bg-select.png') repeat;
  }
  .wicked-select .filter-option {
    font: bold 12px/21px 'Lato', sans-serif;
  }
  .bootstrap-select>.dropdown-toggle,
  .bootstrap-select>.dropdown-toggle.bs-placeholder,
  .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
  .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
  .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 3px solid #D0A84A;
    padding: 8px 25px 8px 40px;
  }
  .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
  .bootstrap-select>.dropdown-toggle:focus {
    outline: none !important;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 250px;
  }
  .bootstrap-select.btn-group .dropdown-toggle .caret {
      background: url('../img/select-arrow.png') no-repeat;
      width: 9px;
      height: 5px;
      border: 0;
      right: 48px;
      top: 50%;
  }
  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    outline: none !important;
    background: #D0A84A;
    color: #fff;
  }
  .bootstrap-select.btn-group .dropdown-toggle .caret {
    background: url(../img/select-arrow.png) no-repeat;
  }
  .select-inner-text p {
    margin-bottom: 0;
  }
  .select-inner .ring-size-submit {
    padding: 7px;
    min-height: 50px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 10px;
    max-width: 260px;
  }
  .select-inner .ring-size-submit.special-ring-size-btn>span {
    width: 145px;
    display: block;
    margin: 0 auto;
  }
  .select-inner .price {
    margin: 17px auto 12px;
    font: 20px 'Times New Roman', serif;
  }
  .select-inner .select-inner-text {
    line-height: 1.30;
    margin: 12px auto 13px;
  }
  .select-inner {
    padding: 40px 35px;
  }
  .select-inner .ring-size-submit:before {
    width: 82%;
    height: 22px;
  }
}
@media only screen and (min-width: 768px) {
  #wickedModal .modal-dialog {
    width: 460px;
  }
}
@media only screen and (max-width: 559px){
  .modal-wicked-heading {
    font: 900 30px/37px 'Lato', sans-serif;
    margin: 5px 0;
  }
  .modal-pre-heading,
  .modal-post-heading {
    font: normal 18px/22px 'gothamBook', sans-serif;
  }
  .modal-post-heading {
    margin: 0 0 20px 0;
  }
  .prices-box {
    font: 400 24px/28px 'Lato', sans-serif;
    margin-bottom: 25px;
  }
  .wicked-media-heading {
    font: 700 20px/24px 'Lato', sans-serif;
  }
  .wicked-modal-content {
    zoom: 0.68;
  }
  .wicked-modal-content .media {
    max-width: 280px;
    margin: 0 auto 25px;
  }
  .wicked-modal-content .media img{
    max-width: 70px;
  }
  .wicked-modal-content .modal-body {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .price-free-shipping {
    font: 400 18px/22px 'Lato', sans-serif;
  }
  .orange-button {
    font-size: 25px;
    line-height: 25px;
    padding: 18px 35px;
    margin-top: 10px;
  }
  .close-btn {
    font-size: 28px;
  }
  .timer .c-timer {
    width: 74px;
    height: 59px;
    font: normal 37px/59px 'Times New Roman', serif;
    margin: 0 9px;
  }
  .timer .c-timer:before {
    content: ":";
    position: absolute;
    top: -4px;
    left: -14px;
    color: #242424;
  }
}
