.slider-container {
	overflow: hidden;
}

.slider-container .slider-page {
	position: relative;
	width: 500%;
	margin: 0 auto;
	left: 0;
	animation: 20s slide-anim infinite;
}

.slider-container img {
	width: 20%;
	float: left;
}

@keyframes slide-anim {
	0% { left: 0%; }
	25% { left: 0%; }
	50% { left: -100%; }
	75% { left: -100%; }
	100% { left: -200%; }
}

@media screen and (min-width: 601px) {
	.swiper-button-next {
		background-image: url('nav-arrow-next.png');
	}
	.swiper-button-prev {
		background-image: url('nav-arrow-pre.png');
	}
}
@media screen and (max-width: 600px) {
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}
}
.swiper-pagination-bullet-active {
	background: #000;
}
