.wicked-gift-set .media,
 .wicked-gift-set .modal-post-heading,
  .wicked-gift-set .modal-wicked-heading,
   .orange-button-wrapper {
  display: none;
}
.wrapper {
  opacity: 0;
}
/*@font-face {
    font-family: "icons";
    src: url("https://cdn.shopify.com/s/files/1/0548/5721/t/13/assets/icons.eot "),
    url("https://cdn.shopify.com/s/files/1/0548/5721/t/13/assets/icons.eot") format("embedded-opentype"),
    url("https://cdn.shopify.com/s/files/1/0548/5721/t/13/assets/icons.woff") format("woff"),
    url("https://cdn.shopify.com/s/files/1/0548/5721/t/13/assets/icons.ttf") format("truetype"),
    url("https://cdn.shopify.com/s/files/1/0548/5721/t/13/assets/icons.svg") format("svg");
    font-weight: normal;
    font-style: normal
}*/
.ring-size-select {
  margin: 0;
}
.orange-clr {
  color: #ff8a01;
}
.top-wrapper {
  padding: 30px 0 5px;
  display: flex;
  justify-content: center;
}
.top-wrapper .left-part {
  width: 420px;
}
.top-wrapper .media-wrapper {
width: 390px;
}
.wicked-gift-set .top-wrapper .media {
  display: block;
}
.wicked-gift-set .media img {
  max-width: 64px;
}
@media screen and (max-width: 991px){
  .wicked-gift-set {
      background: url(./img/bg-what-is-m-alt.jpg) center top no-repeat;
  }
  .top-wrapper {
    display: none;
  }
  .wicked-gift-set .modal-post-heading {
    display: block;
  }
  .wicked-gift-set .modal-wicked-heading {
    display: block;
  }
  .orange-button-wrapper {
    display: block;
  }
  .wicked-gift-set .prices-box {
    margin-bottom: 17px;
  }
  .wicked-gift-set .media {
    max-width: 350px;
    display: block;
    margin: 20px auto 30px;
  }
  .wicked-gift-set {
      background-size: cover;
  }
  .title-mobile {
    display: none;
  }
  .wicked-gift-set .price {
    font-size: 36px;
  }
}
@media screen and (max-width: 559px){
  .wicked-gift-set .media {
    max-width: 230px;
    display: block;
    margin: 10px auto 20px;
  }
  .wicked-gift-set .modal-post-heading {
      margin: 0;
  }
  .title-with-img .img-holder {
    padding-top: 0;
  }
  /*.wicked-gift-set {
      background-size: 200% auto;
  }*/

  .wicked-gift-set .prices-box {
    margin-bottom: 15px;
  }
  .orange-button-wrapper {
    margin-bottom: 22px;
  }
  .wicked-gift-set .mobile-block {
    display: block;
  }
}
/* -------------------------- */
.ic-section {
  overflow: hidden;
  padding: 110px 0 60px;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
  /*max-width: 700px;*/
  margin: 0 auto;
  position: relative;
}
.ic-section:first-child {
  padding-top: 60px;
}

.ic-section__pre-list {
  margin: 0 0 5px;
}
.ic-section:not(.no-decoration):before {
  /*margin: 0 auto;*/
  content: '';
    width: 76px;
    height: 28px;
    background: url(../img/section-decoration.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
        top: 60px;
        z-index: 1;
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.bg-1 {
  background: url(../img/bg-wicked-m-2.jpg) center top no-repeat;
  background-size: cover;
}
.bg-2 {
  background: url(../../static-assets/img/bg-what-is-m.jpg) center top no-repeat;
  background-size: cover;
}
/*.ic-section-2 {
  background: url(../img/bg-what-is-m.jpg) center top no-repeat;
  background-size: cover;
  padding: 40px 0;
  line-height: 1.5;
  font-size: 25px;
  text-align: center;
}*/
.ic-container {
  max-width: 1024px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0 auto;
}
.ic-img-holder {
  max-width: 500px;
  margin: 0 auto 20px;
}
.ic-imgs-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

}
.ic-imgs-holder .ic-imgs-holder__inner {
  /*width: 33.33%;*/
  width: 49%;
  margin: 0 0 0 2%;
  border: 1px solid #cdcdcd;
}
.ic-section__ol-list a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px){
.ic-imgs-holder .ic-imgs-holder__inner {
  width: 32%;
}
}
.ic-imgs-holder .ic-imgs-holder__text:first-child {
  margin: 0;
}
.ic-imgs-holder img {
  display: block;
  width: 100%;
  height: auto;
}
.ic-imgs-holder .ic-imgs-holder__text {
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
}
.ic-img-holder.ic-logo {
  max-width: 176px;
}

.ic-img-holder img {
  width: 100%;
  height: auto;
  display: block;
}
.ic-img-holder-half img {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.ic-img-holder-part {
  margin-bottom: 0;
}
.ic-img-holder-part img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.ic-section__heading {
  display: block;
  color: #000;
  font: 700 36px/1.1 'Lato', serif;
  text-align: center;
  margin-bottom: 35px;
}
.ic-section__heading-mini {
  display: block;
  color: #000;
  font: 700 36px/1.1 'Lato', serif;
  text-align: center;
  margin-bottom: 20px;
}
.ic-section__heading.heading-large,
.ic-section__heading-mini.heading-large {
  font-size: 44px;
}
.ic-section__post-heading {
  display: block;
  color: #000;
  font: 700 25px/1.1 'Lato', serif;
  text-align: center;
  margin-bottom: 35px;
}
.ic-section p {
  margin: 0 0 20px;
}
.ic-section p:last-child {
  margin: 0;
}
.ic-section__list {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: initial;
  text-align: left;
  display: inline-block;
}
.ic-section .slider-post-heading {
  margin: 60px 0 0;
      line-height: 1.2;
      font-size: 28px;
  }
.ic-section__list li {
  font-size: 16px;
}
.ic-section .swiper-container-holder {
  max-width: 700px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
        z-index: 200;
    position: absolute;
    top: 50%;
    display: block;
    /*width: 20px;
    height: 20px;*/
    width: 9px;
    height: 17px;

    padding: 0;
    color: #000;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.no-padding {
  padding: 0 !important;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next {
    right: 0;
    background: url(../img/next-arrow.png) no-repeat;
    background-size: 100% 100%;
}
.slick-prev {
  background: url(../img/prev-arrow.png) no-repeat;
  background-size: 100% 100%;
  left: 0;
}
.slick-wrapper {
  margin: 0 auto 25px;
  max-width: 600px;
}
.slick-wrapper-2, .slick-wrapper-3 {
  margin: 0 auto;
  max-width: 600px;
}
.ic-section__ol-list, .ic-section__ul-list {
  text-align: left;
    font-size: 18px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 43px;
    padding-right: 25px;
}
#join-btn-wrapper-fixed {
  display: none;
}
.ic-section__ul-list {
  list-style-type: disc;
  padding-left: 43px;
  padding-right: 25px;
}
.ic-section__ol-list h4, .ic-section__ul-list h4 {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}
.ic-section__ol-list>li, .ic-section__ul-list>li {
  margin-bottom: 20px;
}
.ic-section__ol-list .ic-section__ol-list__text, .ic-section__ul-list .ic-section__ul-list__text {
  font-size: 15px;
}
.ic-section__ol-list__text, .ic-section__ul-list__text {
  display: none;
}
.ic-section__ol-list-accordion {
  padding-right: 25px;
}
.ic-section__ol-list-accordion .ic-section__ol-list__heading:after {
  content: '';
  position: absolute;
  top: 8px;
  right: -20px;
  /*-moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  width: 14px;
  height: 14px;
  margin-left: 8px;
  margin-bottom: 2px;
  background: url(../img/scroll-arrow-to-down.png) no-repeat;
  background-size: 100% 100%;
}
.ic-section__ol-list-accordion .ic-section__ol-list__heading.active-item:after {
  background: url(../img/up-scroll-arrow.png) no-repeat;
  background-size: 100% 100%;
}
.ic-section__media-text__autor {
  float: right;
  display: block;
}
.ic-section .select-inner {
  background: none;
  padding: 0;
}
.ic-section .select-inner .btn-group {
  margin-bottom: 15px;
}
.ic-section .select-inner .ring-size-submit {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.bootstrap-select>.dropdown-toggle, .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  border: 3px solid #ff8d00;
}

  .footer {
    padding: 60px 0 135px;
}
@media only screen and (max-width: 991px){
  .ic-section:first-child {
    padding-top: 30px;
  }
  .footer {
      padding: 20px 25px 70px;
    }
  .bootstrap-select>.dropdown-toggle, .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      padding: 15px 25px 15px 40px;
  }
  .bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 25px;
  }
  .select-inner {
     padding: 40px 0;
  }
}

.ic-section__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.ic-section__autor {
  text-align: center;
  margin-bottom: 50px;
  display: block;
}
.ic-section__media:last-child {
  margin-bottom: 0;
}
.ic-section__media-picture {
  width: 40%;
  padding: 0 10px;
}
.ic-section__media-text {
  width: 60%;
  padding: 0 10px;
}
.ic-section__media img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 375px){
  .ic-imgs-holder .ic-imgs-holder__inner {
    padding: 5px;
  }
}
@media screen and (min-width: 560px){
  .ic-section__media-text {
    width: 50%;
  }
  .ic-imgs-holder .ic-imgs-holder__text {
    font-size: 16px;
  }
  .ic-section__media-picture {
    width: 50%;
  }
}
.ic-section .ic-section__media-text p {
    margin: 0 0 10px;
}
.ic-section__media-text {
  font-size: 14px;
  line-height: 1.2;
  color: gray;
}
.ic-mobile-only {
  display: block !important;
}
.ic-desktop-only {
  display: none !important;
}
@media screen and (min-width: 768px){
  .ic-section__media-text {
    font-size: 18px;
  }
  .ic-section__media-picture {
    width: 50%;
    padding: 0 15px;
  }
  .ic-section__media-text {
    width: 50%;
    padding: 0 15px;
  }
  .bg-1 {
    background-image: url(../../static-assets/img/bg-wicked-d-2.jpg);
    background-size: cover;
  }
  .bg-2 {
    background-image: url(../../static-assets/img/bg-what-is-d.jpg);
    background-size: cover;
  }
  .ic-mobile-only {
    display: none !important;
  }
  .ic-desktop-only {
    display: block !important;
  }
  /*.ic-section.ic-section-2 {
    background-image: url(../../static-assets/img/bg-what-is-d.jpg);
    background-size: cover;
  }*/
  .slick-prev, .slick-next {
    width: 18px;
    height: 33px;
  }
  .slick-next {
      right: 0;
    }
    .slick-prev {
      left: 0;
    }
}
.gray-bg {
  background-color: #e8e8e8;
}
.trust-wrapper {
    padding: 20px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    /*margin: 0 auto 30px;*/
    /*margin: 0 -25px 0;*/
    max-width: 700px;
}
.ic-image-wrapper {
  background-color: #d9d9d9;
  padding: 0 25px;
  margin: 0 -25px;
}
.ic-image-wrapper img {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
  display: block;
  width: 100%;
  height: auto;
}
.icon-bullet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-bullet img {
    margin-bottom: 9px;
}
.usa {
    width: 36px;
}
.cruelty {
    width: 33px;
}
.phthalate {
    width: 24px;
}
.gluten {
    width: 24px;
}
.paraben {
    width: 27px;
}
.trust-wrapper > .icon-bullet > p {
    font-family: 'Montserrat';
    font-size: 11px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.fixed-btn-wrapper {
  position: fixed;
    bottom: 3px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 222;
}

  .ic-section__subheading {
    margin-bottom: 20px;
    font-weight: normal;
    display: block;
  }
@media (min-width: 768px){

  .ic-image-wrapper {
    padding: 0;
    margin: 0;
  }

}
@media (min-width: 560px){
  .trust-wrapper {
      margin: 25px auto 0;
  }
}
.btn-wrapper-s-ic-n {
    padding: 0 25px;
}
  .btn-wrapper-s-ic-n a, .btn-wrapper-s-ic-n button, .btn-wrapper-s-ic-n input[type="button"] {
        width: 100%;
    background-color: #D67EA5;
    text-transform: uppercase;
    border: 1px solid #D67EA5;
    text-decoration: none;
    color: #fff;
    max-width: 330px;
    text-align: center;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    padding: 4px 15px;

    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    transition: all linear 0.3s;
    -webkit-appearance: none;
    -webkit-border-radius:5px;
    border-radius: 5px;
}
  .btn-wrapper-s-ic-n a:hover, .btn-wrapper-s-ic-n button:hover, .btn-wrapper-s-ic-n input[type="button"]:hover {
  	background-color: #fff;
    color: #D67EA5;
  }
  .section-decoration {
    margin: 0 auto;
    width: 76px;
    height: 28px;
    background: url("../img/section-decoration.png") no-repeat;
    background-size: 100% 100%;
  }
.bg-gray {
  background-color: #F7F7F7;
}
.slick-list {
  left: 0;
  -ms-transition: left ease-out 0.4s;
  -moz-transition: left ease-out 0.4s;
  -webkit-transition: left ease-out 0.4s;
  transition: left ease-out 0.4s;
}
.slick-list-active {
  left: 30%;
}
.ic-slick-container {
  max-width: 600px;
  margin: 0 auto;
}
.site-footer {
    padding: 24px 40px 75px;
  }
@media screen and (min-width: 769px){
  .site-footer {
      padding: 48px 20px 80px;
  }
}
.modal.fade .modal-dialog {
      top: 50%;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.modal-header {
    border-bottom: 0;
}
.modal select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}
.modal option {
  text-align: left;
  /* reset to left*/
}
.select-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          flex-wrap: wrap;
}
.select-holder button {
  background: #fff;
  border: 1px solid #D67EA5;
  padding: 5px 12px;
margin: 0 4px 6px;
  color: #000;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
  outline: 0;
}
@media (min-width: 375px){
  .select-holder button {
    padding: 6px 16px;
margin: 0 5px 10px;
  }
}
@media (min-width: 414px){
  .select-holder button {
    padding: 8px 18px;
margin: 0 6px 10px;
  }
}
.select-holder button:active, .select-holder button:focus {
  outline: 0;
}
.select-holder button:hover {
  border-color: #b56b8c;
}
@media (min-width: 768px){
  .modal-sm {
      width: 400px;
  }
}
.modal-header .close {
    margin-top: -13px;
    margin-right: -8px;
}
