@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 426px){
  .site-nav--has-dropdown:hover .fj-dropdown, .nav-focus:focus+.fj-dropdown {

    z-index: 118;
  }
}

.site-nav--has-dropdown .fa {
  font-size: small;
}
.site-header {
  margin-top: -25px;
}
.site-header a, .login-links {
  font-size: 16px;
}
.site-nav--active>a {
  font-weight: 400;
}
.navbar-back {
  display: none;
}
@media screen and (min-width: 601px) {
  .site-nav--has-dropdown:hover .fj-dropdown, .nav-focus:focus + .fj-dropdown {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: block;
    animation: fadein 0.5s;
    border: 1px solid white;
  }

  .inner-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .site-nav--has-dropdown:focus-within .fj-dropdown {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: block;
    animation: fadein 0.5s;
    border: 1px solid white;
  }
}
.key-icon-n {
  display: inline-block;
  margin-top: -3px;
  margin-right: 9px;
  vertical-align: middle;
  width: 12px;
  height: 22px;
  background: url(//cdn.shopify.com/s/files/1/0548/5721/files/key-icon_large.png) no-repeat;
  background-size: 100%;
}
.site-header {
  margin-top: 0 !important;
}
img[src*="yahoo.com"] {
  position: absolute;
}
@media screen and (min-width: 601px) {
  #FJRewards {
    background: url(//cdn.shopify.com/s/files/1/0548/5721/files/Rectangle_1_copy_3.png) no-repeat;
    background-size: 100% 100%;
    padding: 0 10px;
  }
}
.gift-icon-n {
  margin-right: 5px;
}
.navbar-toggler {
  display: none;
}
.sidebarNavigation {
  display: block;
}
.navbar-nav-2 {
  display: none;
}
.top-navbar-nav {
  display: none;
}
.sideMenu .top-navbar-nav {
  padding: 7px 0;
}
.sideMenu {
  border: 1px solid black;
  border-left: 0;
}
.sideMenu .side-menu {
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sideMenu .fj-dropdown-n {
  padding: 15px;
}
.sideMenu .fj-dropdown {
  display: none;
}
.sideMenu .side-menu li {
  margin: 0;
}
.sideMenu .fj-dropdown-n li {
  margin: 0;
  padding: 4px 0;
  font-size: 16px;
}
.sideMenu .side-menu li a {
  padding: 5px 0;
  display: inline-block;
  line-height: 1.7;
  font-size: 20px;
}
.sideMenu .fj-dropdown-n li a {
  padding: 5px 0;
  display: inline-block;
  line-height: 1.7;
  font-size: 16px;
}
.sideMenu .fa-plus {
  display: none;
}
.item-divider {
  display: none;
}
.sideMenu .site-nav--has-dropdown {
  position: relative;
}
.sideMenu .site-nav--has-dropdown:after {
  content: "\f105";
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 33%;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 22px;
}
.sideMenu a, .sideMenu li {
  text-decoration: none;
}
.item-name {
  font-weight: bold;
}
@media screen and (max-width: 600px){
  .sideMenu .fj-dropdown-n li a {
    font-size: 20px;
  }
  .sideMenu .fj-dropdown-n li {
    font-size: 20px;
  }
  .site-header {
    border-bottom: 1px solid #e2e2e2;
  }
  #Home {
    order: -3;
  }
  #Vault {
    order: -2;
  }
  .top-navbar-nav__first {
    width: 60%;
    padding: 5px 15px;
    border-right: 1px solid #ccd0d9;
    margin: 0;
  }
  .item-divider {
    display: block;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }
  .item-divider-1 {
    order: -1
  }
  .header-logo {
    padding: 10px 0 6px;
  }
  .top-navbar-nav__second {
    width: 40%;
    padding: 5px 15px;
    text-align: center;
    margin: 0;
  }
  .navbar-toggler {
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    cursor: pointer;
    width: 30px;
  }
  .navbar-back {
    position: absolute;
    top: 17px;
    left: 15px;
    cursor: pointer;
    width: 25px;
  }
  .sidebarNavigation {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  .overlay-open {
    overflow: hidden !important;
  }
  .top-navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: underline;
    background-color: #f6f7fb;
    font-weight: bold;
  }
  .mobile-logo {
    display: block;
    width: 40px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 601px){


  #Products, #Vault {
    margin-left: 30px;
  }
  #Collections {
    margin-right: 30px;
  }

  .navbar-toggler {
    display: none !important;
  }
  .navbar-back {
    display: none !important;
  }
  .site-nav--has-dropdown {
    position: relative;
  }
  .sidebarNavigation .navbar-nav-2 {
    display: none !important;
  }
  .inner-nav a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 8px 7px;
    white-space: nowrap;
  }
  .fj-dropdown>li>a {
    padding: 8px 15px;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto !important;
    padding: 0 15px;

  }
  .mobile-login-links {
    display: none;
  }
  .fj-dropdown {
    text-align: left;
  }
}


#admin-bar-iframe {
  z-index: 600 !important;
}
.zopim {
  z-index: 600 !important;
}
#solvvy-support-flow-launch-widget {
  z-index: 600 !important;
}
#talkable-offer [name="talkable-offer-iframe"] {
  z-index: 600 !important;
}
body {
  position: relative;
}

.overlay-n,.sideMenu {
  position: fixed;
  bottom: 0
}

.overlay-n {
  top: 0;
  opacity: 0;
  left: -100%;
  right: 100%;
  margin: auto;
  background-color: rgba(255,255,255,.5);
  z-index: 998;
  -webkit-transition: opacity ease 0.2s;
  -moz-transition: opacity ease 0.2s;
  transition: opacity ease 0.2s
}

.overlay-n.open {
  left: 0;
  right: 0;
  opacity: 1;
}

.sidebarNavigation {
  margin-bottom: 0;
  z-index: 999;
  justify-content: flex-start
}

.sidebarNavigation .leftNavbarToggler {
  margin-right: 10px;
  order: -1
}

.sideMenu {
  left: -100%;
  top: 52px;
  -moz-transition: left ease 0.5s;
  -webkit-transition: left ease 0.5s;
  transition: left ease 0.5s;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  max-width: 75%;
  margin-bottom: 0;
  padding: 0;
  background: #fff;
}

.sideMenu.open {
  left: 0;
  display: block;
  overflow-y: auto
}

.sideMenu ul {
  margin: 0;
  padding: 0 15px
}
.nav-bar li {
  font-size: 16px;
}
@media screen and (min-width: 601px){
  .nav-bar li {
    font-size: 13px;
  }
}
@media screen and (min-width: 992px){
  .nav-bar li {
    font-size: 16px;
  }
}
